.Searcher {
  border: none;
  padding:10px 15px;
  border-radius: 100px;
  font-size: 1rem;
  background-color: var(--orange);
  color: white;
  margin: 20px 0;
}

.Searcher::placeholder {
  color: white;
}