@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  --orange: #d87d07;
  --white: white;
  --dark-gray: #14171d;
  --dark-gray-transparent: #14171da8;
}

body {
  margin: 0;
  font-family: 'Roboto';
  background-color: var(--dark-gray);
  color: var(--orange);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  
  width: 100vw;
  padding: 5%;
}